.home{
  margin: 0 auto;
  .home-main{
    width: $px1200;margin: 0 auto;padding: 20px 0;border:1px solid $c9;
  }
  .banner-container {
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    section {
      float: left;
    }
  }
}